<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Lungo</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#specialties">Specialties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#members">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">LUNGO.</h1><h2 class="mb-5">We are professionally dealing with Blockchain white papers. <br>Just focus on your business. </h2>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Send us your requests!</a>
            </div>
          </div>
          <div class="col-lg-3 my-auto">
            <div class="paper-container mx-auto">
              <img src="/assets/lungopaper.png" class="img-fluid" alt="img">
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="specialties">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">From START to END</h2>
            <p>We helpyour succesful ICO by <br>Translating, Refactoring, Design, Community Management!</p>
            <p>
            With years of experience and talented personnel, our team engages in interactive collaborations working together with our partners to deliver high quality services.
            </p>
            <div class="badges">
              <a class="badge-link" href="#"><img src="/assets/google-play-badge.svg" alt=""></a>
              <a class="badge-link" href="#"><img src="/assets/app-store-badge.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>We offer you one-stop solution</h2>
          <p class="text-muted">Translation, Refactoring, Design, Community magement just tell us what you need now.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/assets/1stslide.png" alt="Tanslation">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/2ndslide.png" alt="Refactoring">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/3rdslide.png" alt="Design">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/4thslide.png" alt="Community Management">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-docs text-primary"></i>
                    <h3>Translation</h3>
                    <p class="text-muted">from korean to english and from english, japanese, chinese into korean.   </p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-organization text-primary"></i>
                    <h3>Refactoring</h3>
                    <p class="text-muted">Documenting the basic concept into white paper. Basic market research and editing phrases</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-magic-wand text-primary"></i>
                    <h3>Design</h3>
                    <p class="text-muted">All kinds of chart design and publication editings</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-bubbles text-primary"></i>
                    <h3>Community management</h3>
                    <p class="text-muted">Managing korea communities in kakaotalk, telegram, facebook.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta" id="members">
      <div class="cta-content">
        <div class="container">
          <h2>Members</h2>
            <div class="container">
              <div class="phrase"><p class="text-dark">Members phrase</p></div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="member-card">
                    <div class="card text-black bg-light mb-3" style="max-width: 22rem;">
                      <div class="card-header" id="profile">Eungjin Kim</div>
                      <div class="card-profile">
                        <img src="/assets/eungjin.png" class="rounded profileimg" alt="eungjin">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Writing and Design</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="member-card">
                    <div class="card text-black bg-light mb-3" style="max-width: 22rem;">
                      <div class="card-header" id="profile">Keunyoung Kim</div>
                      <div class="card-profile">
                        <img src="/assets/keunyoung.png" class="rounded profileimg" alt="keunyoung">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Management, Marketing</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="member-card">
                    <div class="card text-black bg-light mb-3" style="max-width: 22rem;">
                      <div class="card-header" id="profile">Inwhan Kim</div>
                      <div class="card-profile">
                        <img src="/assets/inwhuan.png" class="rounded profileimg" alt="inwhuan">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Translation and Sales</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Contact</h2>
          <%= form_tag("/mail", method: "POST") do %>
            <div class="form-container">
              <div class="form-group">
                <label for="email">Email address</label>
                <input name="sender" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email or phone number" required/>
                <small id="emailHelp" class="form-text text-muted">Please write at least one for reply. We'll never share your email, phone number with anyone else. </small>
              </div>
              <div class="form-group">
                <label for="emailArea">Ask us whatever you want</label>
                <textarea name="content" class="form-control" id="emailArea" rows="15" placeholder="Type your requests" required></textarea>
              </div>
              <button type="submit" class="btn btn-danger" id="submitBtn" data-toggle="popover" data-placement="top" data-content="Email has been successfully sent!" data-placement="button" title="Check your E-mail address for quick reply" onclick='swal("Good job!", "You clicked the button!", "success");' >Submit</button>
            </div>
          <% end %>   
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; Your Website 2018. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

</body>
</html>